import random

def rock_paper_scissors():
    '''Simple luck based game, pick an option and hope for the best'''
    
    choices = ['rock', 'paper', 'scissors', 'spock', 'lizard']
    human_score = 0
    computer_score = 0
    index = 1
    
    #Laying out options for player
    print("Lets play rock, paper, scissors, best of 5")
    print("Pick one of the following")
    for choice in choices:
        print("{}, {}".format(index, choice))
        index += 1
        
    #Setting loop to stop when there is a winner
    while human_score < 3 and computer_score < 3:
        valid = False
        while not valid:
            #error handling for pesky user input
            try:
                user_number = int(input("Pick 1, 2, 3, 4 or 5: "))
                if user_number > 5 or user_number < 1:
                    #intentional error caused when number out of range
                    user_number = int("fail")
            except (ValueError, NameError):
                print("Not a valid selection, please try again")
            else:
                valid = True
                
        user_choice = choices[user_number-1]
        print("You picked {}".format(user_choice))
        #randomly generated computer choice
        computer_number = random.randrange(1, 6)
        computer_choice = choices[computer_number-1]
        print("I picked {}".format(computer_choice))
        
        #result noted as difference in numbers to make use of pattern 
        result = computer_number - user_number
        
        #printing results to user with taunts if applicable
        if result == 0:
            print("Hmm, its a draw this time human")
        elif result == -1 or result == 2 or result == -3 or result == 4:
            print("Aww, the human got a point")
            human_score += 1
        else:
            print("HaHa, a point for the glorious AI")
            computer_score += 1
        print("Score: Human - {}, Computer - {}".format(human_score,
                                                        computer_score))
    #end of game conclusion
    if human_score < computer_score:
        winner = "Glorious AI overlord"
    else:
        winner = "lucky human"

    print("Well that's game over, winner is the {}".format(winner))

if __name__ == "__rock_paper_scissors__":
    rock_paper_scissors()
